@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;0,800&display=swap');

$bg360: rgba(255, 255, 255, 0.95);
$primary360: rgb(54, 167, 233);

body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
}

// ---- sidebar --------------------------------------------

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  left: 0px;
}

.sidebar-inner {
  position: absolute;
  // width: 95%;
  // height: 95%;
  width: 100%;
  height: 100%;
  font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: black;
  background-color: $bg360;
  padding: 0 20px;  

  h1 {
    color: $primary360;
    text-transform: uppercase;
  }
}

#sidebarToggleBtn {
  // toggle button positioning
  right: 0;
  top: 0;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 2rem;
}

#sidebarToggleBtn:hover {
  color: $primary360;
}

.sidebar {
  transition: transform 0.5s;
  transform: translateX(0px);
  z-index: 1;
  width: 400px;
  // width: 25%;
  height: 100%;
  top: 0;

  // disable sidebar for now
  display: none;
}

.sidebar-content {
  opacity: 1;
  transition: opacity 0.5s;
}

/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.collapsed {
  transform: translateX(-390px);

  .sidebar-content {
    opacity: 0.1;
  }
}

// mobile sizing (not hooked up yet)

.sidebar.small {
  width: 100%;
}

.collapsed.small {
  transform: translateX(-100%);
}

// mapbox controls

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  // background-color: greenyellow;
  background: $bg360;
  border-radius: 0;
  box-shadow: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background: none;

  a {
    color: #ccc;
  }
}

// timebar

.map-overlay {
  font: 12px/20px 'Libre Franklin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25%;
  top: 10px;
  left: 10px;
}
   
.map-overlay .map-overlay-inner {
  // background-color: $bg360;
  background: none;
  padding: 10px;
  margin-bottom: 10px;

  color: white;

  h2 {
    line-height: 2rem;
    font-size: 2rem;
    display: block;
    margin: 0 0 0.5rem;
    text-transform: uppercase;
  }

  #slider {
    margin: 0 0 0.5rem;
    width: 100%;
  }

  .legend {
    margin-top: 20px;
    
    .bar {
      height: 10px;
      width: 100%;
      background: linear-gradient(to right,
        #543005 0%, #543005 10%,
        #8c510a 10%, #8c510a 20%,
        #bf812d 20%, #bf812d 30%,
        #dfc27d 30%, #dfc27d 40%,
        #f6e8c3 40%, #f6e8c3 50%,
        #c7eae5 50%, #c7eae5 60%,
        #80cdc1 60%, #80cdc1 70%,
        #35978f 70%, #35978f 80%,
        #01665e 80%, #01665e 90%,
        #003c30 90%, #003c30 100%);
    }
    
    .stops {
      list-style: none;
      padding-inline-start: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  .radio-group {
    display: flex;
    flex-direction: row;

    label {
      text-transform: uppercase;
      display: inline-block;  
      color: #ccc;
    }
  
    div + div {
      padding-left: 25px;
    }
  
    input[type="radio"]:checked + label {
      font-weight: bold;
      color: white;
      
      &:after {
        content: '\2022';
        padding-left: 10px;
      }
    }
  
    input[type="radio"] {
      opacity: 0;
      width: 0;
      position: fixed;
    }
  }

  
}
   


